.u-margin-right {
  margin-right: 3rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Ubuntu", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu Mono", monospace;
  font-weight: 400;
  background-color: #0a192f; }

.text__header {
  font-family: "Ubuntu", sans-serif !important;
  color: #BFD7EA;
  font-weight: 500 !important;
  font-size: 2.6rem !important;
  text-transform: capitalize; }
  @media (max-width: 37.5em) {
    .text__header {
      font-family: "Ubuntu", sans-serif !important;
      color: #BFD7EA;
      font-weight: 500 !important;
      font-size: 2.2rem !important; } }
  .text__header h2 {
    margin-bottom: 8.5rem; }
    .text__header h2::after {
      content: "";
      height: 2px;
      width: 38rem;
      background-color: #087E8B;
      display: inline-block;
      transform: translateY(-1rem);
      margin-left: 1.7rem; }
      @media (max-width: 37.5em) {
        .text__header h2::after {
          width: 4rem; } }

.text__subheader {
  font-family: "Ubuntu", sans-serif !important;
  color: #BFD7EA;
  font-weight: 500 !important;
  font-size: 2.6rem !important;
  text-transform: capitalize;
  text-align: center; }
  .text__subheader h4 {
    margin-bottom: 4.5rem; }

.card {
  position: relative; }
  .card:hover .card__face-1 .content {
    opacity: 1; }
  .card:hover .card__face-1 .source {
    opacity: 1; }
  .card:hover .card__face-1 {
    transform: translateY(0); }
  .card__face {
    transition: .5s; }
    .card__face-1 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #172a45;
      z-index: 1;
      padding: 2rem;
      transform: translateY(13rem); }
      @media (max-width: 56.25em) {
        .card__face-1 {
          transform: translateY(0); } }
      .card__face-1 .content {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: .3;
        transition: .5s; }
        @media (max-width: 56.25em) {
          .card__face-1 .content {
            opacity: 1; } }
        .card__face-1 .content h3 {
          font-family: "Ubuntu Mono", monospace !important;
          color: #BFD7EA;
          font-weight: 700 !important;
          font-size: 2.1rem !important;
          margin-top: 1rem; }
      .card__face-1 .source {
        position: absolute;
        top: 2rem;
        right: 1rem;
        display: flex;
        flex-direction: column;
        opacity: .3; }
        @media (max-width: 56.25em) {
          .card__face-1 .source {
            opacity: 1; } }
        .card__face-1 .source a {
          text-decoration: none !important;
          color: #BFD7EA;
          font-size: 1.7rem;
          transition: all .3s ease-in-out; }
          .card__face-1 .source a:not(:last-child) {
            margin-bottom: 1.3rem; }
          .card__face-1 .source a:hover {
            transform: scale(1.15); }
    .card__face-2 {
      position: relative;
      background-color: #9197AE;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2rem;
      box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8); }
      .card__face-2 p {
        line-height: 1.3;
        font-family: "Poppins", sans-serif !important;
        color: #172a45;
        font-weight: 400 !important;
        font-size: 1.2rem !important;
        text-align: center; }
      .card__face-2--tools {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 1.7rem;
        font-family: "Poppins", sans-serif !important;
        color: #172a45;
        font-weight: 400 !important;
        font-size: 1.4rem !important; }

@keyframes blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes bounce {
  to {
    width: 90%;
    transform: translate3d(0, -1.7rem, 0); } }

@keyframes dot {
  0% {
    transform: scale(2); }
  100% {
    transform: scale(4); } }

.home {
  width: 100%;
  min-height: 100vh;
  padding: 17rem 6rem 6rem 6rem;
  overflow-x: hidden !important;
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 1; }
  @media (max-width: 56.25em) {
    .home {
      padding: 7rem 2.5rem 2.5rem 3rem; } }
  @media (max-width: 37.5em) {
    .home {
      padding: 20rem 1.2rem 2rem 1rem; } }
  .home__container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 4rem 8rem 4rem; }
    @media (max-width: 37.5em) {
      .home__container {
        padding: 4rem 3.5rem 4rem; } }
  .home__desc {
    flex: 2; }
    .home__desc-coat h1 {
      font-family: "Ubuntu", sans-serif !important;
      color: #315F7A;
      font-weight: 700 !important;
      font-size: 6.5rem !important;
      margin-bottom: 1.5rem; }
      @media (max-width: 37.5em) {
        .home__desc-coat h1 {
          font-family: "Ubuntu", sans-serif !important;
          color: #315F7A;
          font-weight: 700 !important;
          font-size: 4.5rem !important; } }
      .home__desc-coat h1::after {
        content: "";
        height: 2px;
        width: 38rem;
        background-color: #087E8B;
        display: inline-block;
        transform: translateY(-1rem);
        margin-left: 1.7rem; }
        @media (max-width: 37.5em) {
          .home__desc-coat h1::after {
            width: 22rem; } }
    .home__desc-coat h2 {
      font-family: "Ubuntu", sans-serif !important;
      color: #BFD7EA;
      font-weight: 700 !important;
      font-size: 5.5rem !important;
      margin-bottom: 1.5rem; }
      @media (max-width: 37.5em) {
        .home__desc-coat h2 {
          font-family: "Ubuntu", sans-serif !important;
          color: #BFD7EA;
          font-weight: 700 !important;
          font-size: 3.5rem !important; } }
    .home__desc-coat h3 {
      font-family: "Ubuntu", sans-serif !important;
      color: #BFD7EA;
      font-weight: 700 !important;
      font-size: 5.5rem !important;
      margin-bottom: 1.5rem;
      position: relative; }
      @media (max-width: 37.5em) {
        .home__desc-coat h3 {
          font-family: "Ubuntu", sans-serif !important;
          color: #BFD7EA;
          font-weight: 700 !important;
          font-size: 3.5rem !important; } }
      .home__desc-coat h3::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 7rem;
        border-right: 2px solid #BFD7EA;
        animation: blink .5s infinite ease; }
        @media (max-width: 37.5em) {
          .home__desc-coat h3::after {
            height: 4rem; } }
    .home__desc-buttons {
      display: flex;
      align-content: center;
      margin-top: 5rem; }
  .home__avater {
    flex: 1;
    padding-right: 2rem; }
    @media (max-width: 56.25em) {
      .home__avater {
        display: none; } }
    .home__avater-img img {
      max-width: 40rem; }
  .home__empty {
    flex: .5; }

.about {
  width: 100%;
  min-height: 100vh;
  padding: 15rem 18rem 6rem;
  position: absolute;
  bottom: 0%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  @media (max-width: 56.25em) {
    .about {
      padding: 6rem 6rem 6rem;
      position: static;
      bottom: auto;
      left: auto;
      opacity: 1;
      visibility: visible;
      z-index: 1; } }
  .about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem 4rem; }
    @media (max-width: 56.25em) {
      .about__container {
        flex-direction: column-reverse; } }
  .about__image {
    flex: 1; }
    @media (max-width: 56.25em) {
      .about__image {
        margin-top: 7rem; } }
    .about__image-box {
      width: 30rem;
      height: 35rem;
      position: relative;
      border: 2px solid #BFD7EA;
      border-radius: 5px; }
      @media (max-width: 56.25em) {
        .about__image-box {
          position: relative; } }
      .about__image-box:hover img {
        left: -1rem;
        top: 2.3rem;
        -webkit-filter: grayscale(0);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0); }
      .about__image-box img {
        width: 90%;
        position: absolute;
        left: -2rem;
        top: 3rem;
        border-radius: 5px;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        transition: all .4s ease; }
  .about__desc {
    flex: 1; }
    .about__desc-heading {
      font-family: "Ubuntu", sans-serif !important;
      color: #BFD7EA;
      font-weight: 500 !important;
      font-size: 3rem !important;
      text-transform: uppercase;
      letter-spacing: 2rem;
      margin-bottom: 3.5rem; }
      .about__desc-heading span {
        display: block; }
        .about__desc-heading span:not(:last-child) {
          margin-bottom: 1rem; }
  .about__paragraph-box {
    margin-bottom: 2.5rem; }
    .about__paragraph-box--p {
      font-family: "Ubuntu Mono", monospace !important;
      color: #087E8B;
      font-weight: 400 !important;
      font-size: 1.4rem !important;
      padding: 1rem 0; }
      @media (max-width: 56.25em) {
        .about__paragraph-box--p {
          font-family: "Ubuntu Mono", monospace !important;
          color: #087E8B;
          font-weight: 400 !important;
          font-size: 1.7rem !important; } }

.experience {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  opacity: 0;
  z-index: 0;
  min-height: 100vh;
  padding: 15rem 32rem 6rem;
  visibility: hidden;
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  @media (max-width: 56.25em) {
    .experience {
      padding: 8rem 7rem 5rem;
      position: static;
      bottom: auto;
      left: auto;
      opacity: 1;
      visibility: visible;
      z-index: 1; } }
  @media (max-width: 37.5em) {
    .experience {
      padding: 4rem 1.6rem 4rem; } }
  .experience__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin-top: 6rem; }
  .experience__header {
    font-family: "Ubuntu", sans-serif !important;
    color: #BFD7EA;
    font-weight: 500 !important;
    font-size: 2.6rem !important;
    text-transform: capitalize; }
    .experience__header h2 {
      margin-bottom: 8.5rem; }
      .experience__header h2::after {
        content: "";
        height: 2px;
        width: 38rem;
        background-color: #087E8B;
        display: inline-block;
        transform: translateY(-1rem);
        margin-left: 1.7rem; }
        @media (max-width: 37.5em) {
          .experience__header h2::after {
            width: 7rem; } }
  .experience__buttons {
    width: 90%; }
    @media (max-width: 37.5em) {
      .experience__buttons {
        width: 100%; } }
    .experience__buttons-box {
      display: flex;
      width: 75%;
      padding: 1rem 0 1.3rem;
      border-bottom: 1px solid #087E8B; }
      @media (max-width: 37.5em) {
        .experience__buttons-box {
          width: 100%; } }
      .experience__buttons-box > button {
        font-family: "Ubuntu Mono", monospace !important;
        color: #087E8B;
        font-weight: 400 !important;
        font-size: 1.6rem !important;
        text-transform: uppercase;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        padding: .4rem 1.8rem; }
        .experience__buttons-box > button:not(:last-child) {
          margin-right: 4.5rem; }
          @media (max-width: 37.5em) {
            .experience__buttons-box > button:not(:last-child) {
              margin-right: 3.8rem; } }
  .experience__content {
    width: 85%;
    height: 35rem;
    margin-top: 2rem;
    position: relative;
    overflow-x: hidden; }
    @media (max-width: 37.5em) {
      .experience__content {
        width: 100%; } }
    .experience__content-box {
      width: 70%;
      padding: 1.5rem .6rem;
      position: absolute;
      transform: translateX(150%);
      transition: all .6s ease-in-out; }
      @media (max-width: 37.5em) {
        .experience__content-box {
          width: 95%; } }
    .experience__content-header {
      font-family: "Ubuntu Mono", monospace !important;
      color: #BFD7EA;
      font-weight: 400 !important;
      font-size: 2.3rem !important;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-bottom: 2.5rem; }
    .experience__content-paragraph {
      font-family: "Ubuntu Mono", monospace !important;
      color: #087E8B;
      font-weight: 400 !important;
      font-size: 1.8rem !important;
      padding-left: 2.2rem; }
      .experience__content-paragraph ul {
        list-style-type: circle; }
      .experience__content-paragraph > ul li:not(:last-child) {
        margin-bottom: 1.8rem; }
  .experience #experience1 {
    transform: translateX(0); }
  .experience #btn1 {
    border-left: 1px solid #BFD7EA;
    color: #BFD7EA; }

.portfolio {
  width: 100%;
  min-height: 100vh;
  padding: 15rem 30rem 6rem;
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  display: none;
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  @media (max-width: 56.25em) {
    .portfolio {
      padding: 8rem 8rem 6rem;
      position: static;
      bottom: auto;
      left: auto;
      opacity: 1;
      visibility: visible;
      z-index: 1;
      display: block; } }
  @media (max-width: 37.5em) {
    .portfolio {
      padding: 4.5rem 3rem 4.5rem; } }
  .portfolio__container {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .portfolio__sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow-x: hidden; }
    @media (max-width: 37.5em) {
      .portfolio__sub {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); } }
    .portfolio__sub:not(:last-child) {
      margin-bottom: 6rem; }
    .portfolio__sub:hover .portfolio__sub-description {
      transform: translateX(0);
      opacity: 1; }
    .portfolio__sub:hover .portfolio__sub-diagram::before {
      width: 0;
      height: 0;
      transform-origin: center center; }
    .portfolio__sub:hover .portfolio__sub-diagram h4 {
      transform: translate(150%, -280%);
      opacity: 0; }
    .portfolio__sub-diagram {
      position: relative;
      flex: 1;
      width: 90%;
      padding: 1rem;
      margin-right: 2.5rem; }
      @media (max-width: 56.25em) {
        .portfolio__sub-diagram {
          width: 70%;
          margin-top: 1.5rem;
          flex: 1;
          height: 60%;
          margin-right: 2rem; } }
      @media (max-width: 37.5em) {
        .portfolio__sub-diagram {
          grid-column: 1/3;
          grid-row: 1/2;
          opacity: .22; } }
      .portfolio__sub-diagram img {
        width: 58rem;
        height: 34rem;
        border-radius: 4px;
        box-shadow: 0 1rem 3rem -1.5rem rgba(2, 12, 27, 0.7);
        opacity: 6; }
        @media (max-width: 56.25em) {
          .portfolio__sub-diagram img {
            width: 49rem; } }
        @media (max-width: 37.5em) {
          .portfolio__sub-diagram img {
            width: 35rem; } }
      .portfolio__sub-diagram h4 {
        font-family: "Ubuntu Mono", monospace !important;
        color: #fff;
        font-weight: 500 !important;
        font-size: 2.8rem !important;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .5s ease-in-out .4s; }
        @media (max-width: 56.25em) {
          .portfolio__sub-diagram h4 {
            display: none; } }
      .portfolio__sub-diagram::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(39, 48, 67, 0.95);
        border-radius: 5px;
        transition: all .5s ease-in-out; }
        @media (max-width: 56.25em) {
          .portfolio__sub-diagram::before {
            display: none; } }
    .portfolio__sub-description {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      transform: translateX(100%);
      opacity: 0;
      transition: all .6s ease-in-out .3s; }
      @media (max-width: 56.25em) {
        .portfolio__sub-description {
          flex: 1.5;
          transform: translateX(0);
          opacity: 1; } }
      @media (max-width: 37.5em) {
        .portfolio__sub-description {
          width: 90%;
          padding: 3rem 2rem;
          margin-top: 7rem;
          grid-column: 1/-1;
          grid-row: 1/2; } }
      .portfolio__sub-description h2 {
        font-family: "Ubuntu Mono", monospace !important;
        color: #BFD7EA;
        font-weight: 700 !important;
        font-size: 2.2rem !important;
        margin-bottom: 1.5rem; }
      .portfolio__sub-description--box {
        padding: 1.6rem 2.2rem;
        background-color: #172a45;
        width: 120%;
        border-radius: 4px;
        box-shadow: 0 1rem 3rem -1.5rem rgba(2, 12, 27, 0.6);
        margin-bottom: 3rem; }
        @media (max-width: 37.5em) {
          .portfolio__sub-description--box {
            background-color: transparent;
            width: 100%;
            padding: 0; } }
        .portfolio__sub-description--box p {
          font-family: "Ubuntu Mono", monospace !important;
          color: #9197AE;
          font-weight: 400 !important;
          font-size: 1.4rem !important;
          text-align: right; }
      .portfolio__sub-description--tools {
        font-family: "Ubuntu Mono", monospace !important;
        color: #9197AE;
        font-weight: 300 !important;
        font-size: 1.4rem !important;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .portfolio__sub-description--tools h5:not(:last-child) {
          margin-right: 1.5rem; }
      .portfolio__sub-description--source {
        margin-top: 2.2rem; }
        .portfolio__sub-description--source a {
          text-decoration: none !important;
          color: #BFD7EA;
          font-size: 2rem;
          opacity: .75; }
          .portfolio__sub-description--source a:not(:last-child) {
            margin-right: 1.3rem; }
          .portfolio__sub-description--source a:hover {
            opacity: 1; }
  .portfolio__sub2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 6rem; }
    @media (max-width: 37.5em) {
      .portfolio__sub2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr); } }
    .portfolio__sub2-diagram {
      flex: 1;
      width: 90%;
      padding: 1rem;
      margin-right: 2.5rem; }
      @media (max-width: 56.25em) {
        .portfolio__sub2-diagram {
          width: 70%;
          flex: 1;
          margin-right: 2rem; } }
      @media (max-width: 37.5em) {
        .portfolio__sub2-diagram {
          grid-column: 1/3;
          grid-row: 1/2;
          opacity: .22; } }
      .portfolio__sub2-diagram img {
        width: 58rem;
        height: 34rem;
        border-radius: 4px;
        box-shadow: 0 1rem 3rem -1.5rem rgba(2, 12, 27, 0.7); }
        @media (max-width: 56.25em) {
          .portfolio__sub2-diagram img {
            width: 49rem; } }
        @media (max-width: 37.5em) {
          .portfolio__sub2-diagram img {
            width: 35rem; } }
    .portfolio__sub2-description {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1; }
      @media (max-width: 56.25em) {
        .portfolio__sub2-description {
          flex: 1.5; } }
      @media (max-width: 37.5em) {
        .portfolio__sub2-description {
          width: 90%;
          padding: 3rem 2rem;
          margin-top: 7rem;
          grid-column: 1/-1;
          grid-row: 1/2; } }
      .portfolio__sub2-description h2 {
        font-family: "Ubuntu Mono", monospace !important;
        color: #BFD7EA;
        font-weight: 700 !important;
        font-size: 2.2rem !important;
        margin-bottom: 1.5rem; }
      .portfolio__sub2-description--box {
        padding: 1.6rem 2.2rem;
        background-color: #172a45;
        width: 120%;
        border-radius: 4px;
        box-shadow: 0 1rem 3rem -1.5rem rgba(2, 12, 27, 0.6);
        margin-bottom: 3rem; }
        @media (max-width: 37.5em) {
          .portfolio__sub2-description--box {
            background-color: transparent;
            width: 100%;
            padding: 0; } }
        .portfolio__sub2-description--box p {
          font-family: "Ubuntu Mono", monospace !important;
          color: #9197AE;
          font-weight: 400 !important;
          font-size: 1.4rem !important;
          text-align: left; }
      .portfolio__sub2-description--tools {
        font-family: "Ubuntu Mono", monospace !important;
        color: #9197AE;
        font-weight: 300 !important;
        font-size: 1.4rem !important;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .portfolio__sub2-description--tools h5:not(:last-child) {
          margin-right: 1.5rem; }
      .portfolio__sub2-description--source {
        margin-top: 2.2rem; }
        .portfolio__sub2-description--source a {
          text-decoration: none !important;
          color: #BFD7EA;
          font-size: 2rem;
          opacity: .75; }
          .portfolio__sub2-description--source a:not(:last-child) {
            margin-right: 1.3rem; }
          .portfolio__sub2-description--source a:hover {
            transform: scale(1.2);
            opacity: 1; }
  .portfolio__others {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .portfolio__others-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem; }
      .portfolio__others-buttons a {
        font-family: "Ubuntu Mono", monospace !important;
        color: #BFD7EA;
        font-weight: 400 !important;
        font-size: 1.8rem !important;
        text-decoration: none;
        display: block;
        border: 1px solid #BFD7EA;
        padding: 1rem;
        margin: 2rem;
        border-radius: 4px; }
        .portfolio__others-buttons a:hover {
          background-color: #087E8B;
          color: #fff; }
        .portfolio__others-buttons a.current {
          background-color: #087E8B;
          color: #fff;
          border: 1px solid #087E8B; }
    .portfolio__others-container {
      margin-top: 1.5rem;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      grid-gap: 1.5rem;
      transition: all .6s ease-in-out; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #020C1B;
  transition: all .3s ease-in .3s; }
  @media (max-width: 56.25em) {
    .footer {
      position: static;
      bottom: auto;
      left: auto; } }
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__container-social {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0 1rem; }
      @media only screen and (min-width: 56.25em) {
        .footer__container-social {
          display: none; } }
      .footer__container-social ul {
        list-style-type: none; }
        .footer__container-social ul:not(:last-child) {
          margin-right: 2.5rem; }
        .footer__container-social ul li:hover a i {
          transform: scale(1.15);
          opacity: 1; }
        .footer__container-social ul li a {
          text-decoration: none;
          font-size: 2rem; }
          .footer__container-social ul li a i {
            color: #BFD7EA;
            opacity: .5;
            transition: all .4s ease-in-out; }
    .footer__container-statement {
      padding: 1.3rem 0 1rem;
      font-family: "Ubuntu Mono", monospace !important;
      color: #BFD7EA;
      font-weight: 300 !important;
      font-size: 1.2rem !important; }
      .footer__container-statement h3 {
        opacity: .8; }

.contact {
  width: 100%;
  min-height: 100vh;
  padding: 15rem 32rem 6rem;
  line-height: 1.6; }
  @media (min-width: 56.25em) {
    .contact {
      padding: 10rem 32rem 6rem;
      position: absolute;
      bottom: 0%;
      left: 0%;
      opacity: 0;
      visibility: hidden;
      z-index: 0;
      transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19); } }
  @media (max-width: 56.25em) {
    .contact {
      padding: 8rem 10rem 6rem; } }
  @media (max-width: 37.5em) {
    .contact {
      padding: 8rem 4rem 6rem; } }
  .contact__container {
    max-width: 117rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1em; }
  .contact__heading {
    font-family: "Ubuntu", sans-serif !important;
    color: #BFD7EA;
    font-weight: 700 !important;
    font-size: 2.5rem !important;
    margin-bottom: 4.5rem;
    text-align: center; }
    @media (min-width: 700px) {
      .contact__heading {
        font-family: "Ubuntu", sans-serif !important;
        color: #BFD7EA;
        font-weight: 700 !important;
        font-size: 3.5rem !important;
        text-align: left; } }
    .contact__heading::after {
      content: "";
      height: 1px;
      width: 38rem;
      background-color: #087E8B;
      display: inline-block;
      transform: translateY(-1rem);
      margin-left: 1.7rem; }
      @media (max-width: 37.5em) {
        .contact__heading::after {
          width: 4rem; } }
  .contact__wrapper {
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.65); }
    @media (min-width: 700px) {
      .contact__wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr; } }
    .contact__wrapper > * {
      padding: 1em; }
      @media (min-width: 700px) {
        .contact__wrapper > * {
          padding: 2em; } }
    .contact__wrapper-info {
      background-color: #9197AE; }
      .contact__wrapper-info h3 {
        font-family: "Ubuntu Mono", monospace !important;
        color: #172a45;
        font-weight: 700 !important;
        font-size: 2.2rem !important;
        text-align: center;
        margin: 0 0 1rem 0; }
        @media (min-width: 700px) {
          .contact__wrapper-info h3 {
            text-align: left; } }
      .contact__wrapper-info ul {
        list-style: none;
        padding: 0;
        text-align: center;
        font-family: "Ubuntu Mono", monospace !important;
        color: #172a45;
        font-weight: 400 !important;
        font-size: 1.6rem !important;
        margin: 0 0 1rem 0; }
        @media (min-width: 700px) {
          .contact__wrapper-info ul {
            text-align: left; } }
    .contact__wrapper-contact {
      background-color: #172a45; }
      .contact__wrapper-contact--alert {
        text-align: center;
        padding: 1.2rem;
        background: #020C1B;
        font-family: "Ubuntu Mono", monospace !important;
        color: #BFD7EA;
        font-weight: 500 !important;
        font-size: 1.7rem !important;
        margin-bottom: 1rem;
        transform: translateX(10rem);
        display: none;
        transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .contact__wrapper-contact h3 {
        font-family: "Ubuntu Mono", monospace !important;
        color: #9197AE;
        font-weight: 700 !important;
        font-size: 2rem !important;
        margin-bottom: 1.3rem; }
      .contact__wrapper-contact form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2.1rem; }
        .contact__wrapper-contact form p {
          margin: 0; }
        .contact__wrapper-contact form label {
          display: block;
          font-family: "Ubuntu Mono", monospace !important;
          color: #9197AE;
          font-weight: 400 !important;
          font-size: 1.4rem !important; }
        .contact__wrapper-contact form input {
          width: 100%;
          padding: 1rem;
          border: 1px solid #172a45;
          font-family: "Ubuntu Mono", monospace !important;
          color: #172a45;
          font-weight: 400 !important;
          font-size: 1.7rem !important;
          background-color: rgba(145, 151, 174, 0.55);
          outline: none; }
        .contact__wrapper-contact form button {
          width: 100%;
          padding: 1rem; }
        .contact__wrapper-contact form textarea {
          width: 100%;
          padding: 1rem;
          border: 1px solid #172a45;
          font-family: "Ubuntu Mono", monospace !important;
          color: #172a45;
          font-weight: 400 !important;
          font-size: 1.7rem !important;
          background-color: rgba(145, 151, 174, 0.55);
          outline: none; }
        .contact__wrapper-contact form .extend {
          grid-column: 1/3; }

.header__logo {
  opacity: 0;
  position: absolute;
  left: 3rem;
  top: 4rem;
  width: 6rem; }
  .header__logo img {
    max-width: 100%; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 3rem;
  display: inline-block;
  border-radius: 4px;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      padding: 1.2rem 1.1rem; } }

.btn-primary {
  position: relative;
  background: #BFD7EA;
  background-clip: padding-box;
  font-family: "Ubuntu Mono", monospace !important;
  color: #0B3954;
  font-weight: 400 !important;
  font-size: 1.8rem !important;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: background .6 ease; }
  .btn-primary:hover {
    background: #0a192f;
    color: #BFD7EA !important;
    background-clip: padding-box; }
  .btn-primary::after {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #BFD7EA;
    content: '';
    z-index: -1;
    border-radius: 4px; }

.btn-secondary {
  background: #0a192f;
  background-clip: padding-box;
  font-family: "Ubuntu Mono", monospace !important;
  color: #BFD7EA;
  font-weight: 400 !important;
  font-size: 1.8rem !important;
  transition: background .6 ease; }
  .btn-secondary:hover {
    background: #BFD7EA;
    color: #0B3954;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .btn-secondary::after {
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    background: #BFD7EA;
    content: '';
    z-index: -1;
    border-radius: 4px; }

.pages {
  position: fixed;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  transition: all .2s ease-in .4s; }
  @media (max-width: 56.25em) {
    .pages {
      display: none; } }
  @media (max-width: 37.5em) {
    .pages {
      display: none; } }
  .pages > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between; }
  .pages__h3 {
    z-index: 1;
    font-size: 2.4rem;
    font-family: "Ubuntu Mono", monospace !important;
    color: #BFD7EA;
    font-weight: 400 !important;
    font-size: 1.8rem !important;
    padding: 3rem;
    position: relative;
    transform: translateX(40%);
    opacity: 0;
    transition: all .4s ease-in-out;
    position: relative; }
    .pages__h3::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 3rem;
      width: 2px;
      transform: translateY(-50%);
      background-color: #BFD7EA; }
  .pages__icon {
    z-index: 2;
    cursor: pointer;
    fill: #BFD7EA;
    opacity: 0.5;
    transform: scale(2);
    -webkit-filter: drop-shadow 0 1rem 1rem rgba(0, 0, 0, 0.2);
    filter: drop-shadow 0 1rem 1rem rgba(0, 0, 0, 0.2); }
    .pages__icon:hover {
      animation: dot 0.5s ease-in-out infinite alternate; }
    .pages__icon.active {
      opacity: 1; }
  .pages__icon.active + .pages__h3 {
    opacity: 1;
    transform: translateX(0); }
  .pages__icon:hover + .pages__h3 {
    opacity: 1;
    transform: translateX(0); }

.social {
  position: fixed;
  top: 50%;
  transform: translateY(50%);
  font-family: "Poppins", sans-serif !important;
  color: #BFD7EA;
  font-weight: 400 !important;
  font-size: 1.8rem !important;
  z-index: 5;
  transition: all .3s ease-in .2s; }
  @media (max-width: 56.25em) {
    .social {
      display: none; } }
  .social ul {
    list-style-type: none;
    padding: 0;
    transform: translateX(-25rem); }
    .social ul li {
      display: block;
      margin: 5px;
      width: 30rem;
      text-align: right;
      padding: 1rem;
      border-radius: 0 3rem 3rem 0;
      transition: all .6s; }
      .social ul li:hover {
        transform: translateX(11rem); }
      .social ul li:hover i {
        transform: rotate(360deg);
        transition: all 0.6s cubic-bezier(0.6, 0.04, 0.98, 0.335); }
      .social ul li a {
        text-decoration: none !important;
        font-family: "Poppins", sans-serif !important;
        color: #BFD7EA;
        font-weight: 400 !important;
        font-size: 1.8rem !important; }
        .social ul li a i {
          text-align: center;
          margin-left: 1.7rem;
          color: #BFD7EA;
          background-color: #0B3954;
          padding: .6rem;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          transform: rotate(0deg); }

@media only screen and (min-width: 56.25em) {
  .navigation {
    display: none; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #BFD7EA;
  height: 7rem;
  width: 7em;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#087E8B, #172a45);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  pointer-events: none;
  width: 0%;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #BFD7EA;
  transform: translateX(2rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  pointer-events: all; }

.navigation__icon {
  margin-top: 3.5rem;
  position: relative; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #777;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }
